:root{
    --findout_btn: #f1a501;
    --play_btn: #df6951;
    --heading-xs: 18px;
    --heading-sm: 20px;
    --heading-md: 50px;
    --heading-lg: 84px;
    --heading_weight: 700;
    --heading_weight_sm: 600;
    --para: 16px;
    --nav-link: 17px;
    --card-para: #5E6282;
    --section-heading: #181e4b;
    --play: #686d77;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* For all links */
.link{
    text-decoration: none;
}

h3{
    font-size: var(--heading-md);
    color: var(--section-heading);
}

h4{
    font-size: var(--heading-sm);
}

h5{
    font-size: var(--heading-xs);
    color: var(--card-para);
}

h6{
    font-size: var(--para);
    font-weight: var(--heading_weight);
}